---
 const personalImageAlt = "Valeria Rodriguez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
     Hi, I’m Valeria, a passionate software developer with over 4+ years of experience, mainly in startups. My journey in technology began early, and since then, I’ve immersed myself in building impactful solutions that drive real change in people’s lives.
    </p>

    <p>
      I’ve had the privilege of leading small development teams, contributing to the full lifecycle of product development. My expertise spans from frontend technologies like React.js and Next.js to backend systems and deployment automation. One of my proudest moments was developing scalable ecommerce platforms and fintech interfaces, all while ensuring the user experience remained seamless and intuitive.

    </p>

    <p>
      Beyond coding, I’m deeply committed to continuous learning and mentorship. I love guiding junior developers, helping them grow their skills and confidence. I also contribute to UX design, ensuring that the solutions we build are not just functional but also user-friendly.
    </p>
    <p>
    Technology excites me because it allows us to create solutions with a significant impact on society. I’m constantly exploring new ways to leverage it, whether through AI prompt engineering or data analysis. My goal is to continue making a positive impact, one line of code at a time.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

