---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "sept. 2022 - Jun 2024",
    title: "SR Software Engineer",
    company: "DonRep",
    description:
      "E-commerce Development: Created scalable ecommerce solutions and accounting modules using React.js and TypeScript. CRM/OMS Implementation: Enhanced order management efficiency with CRM/OMS systems. Deployment Automation: Automated deployments with GitHub Actions, Docker, and Azure Containers App. Chatbot Development: Developed a chatbot for spare parts sales to improve customer engagement. Data Cleaning: Performed basic data cleaning tasks using Python and Pandas. Mentorship: Provided guidance and support to junior developers, fostering their technical growth. UX Design Contribution: Contributed to UX design, ensuring user-friendly interfaces and enhancing user experience.",
  },
  {
    date: "feb. 2020 - august. 2022",
    title: "Frontend Developer",
    company: "Simetrik",
    description:
      "Financial Technology: Developed interfaces for a universal reconciliation platform using React.js and TypeScript and Next.js and Micro-frontend. Quality Assurance: Conducted unit testing with Jest and React Testing Library, ensuring code quality with SonarCloud... Team Support: Mentored new developers through onboarding processes and technical guidance. Product Collaboration: Acted as the technical reference in product meetings, providing insights and solutions.",
  },
   {
    date: "sept. 2019 - mar. 2020",
    title: "Frontend Developer",
    company: "Digitalizarte",
    description:
      "E-commerce Development: Developed e-commerce websites based on designs in Adobe XD, utilizing React.js and Next.js API Integration: Integrated front-end components with REST APIs for seamless user experiences in Spanish e-commerce projects.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
